
head {
    background-color: rgb(189, 181, 181);
}

body {
   background-color: rgb(189, 181, 181);
}

#t1 {
    margin: 0px auto;
}

.cheatsheet {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin-left: 20px;
    color:rgb(8, 119, 8);
    text-align: center;
}

.table-headers {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(8, 119, 8);
}

.table-headings {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(8, 119, 8);
    background-color: rgb(139, 138, 138);
    padding: 15px;
}

td {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgb(8, 119, 8);
    background-color: rgb(139, 138, 138);
    padding: 15px;
}

#t2 {
    margin: 0px auto;
}

footer {
    background-color:rgb(189, 181, 181);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(8, 119, 8);
}